<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
>
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
<title i18n:msg="date,key">OpenStreetMap Statistics ${date} - Key:${key}</title>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<script>
<!--
    $(document).ready(function() {
        $('.feature').hide();
        var i = 0;
        $('.feature').each(function(index) {
            i += 1;
            header = $(this).children('a').first();
            if (header.hasClass('category')) {
                $("ul#links").append("<li style=\"display:inline; margin:5px;\"><a href=\"#\" onclick=\"javascript:showfeature('"+$(this).attr("name")+"');\"><i><b>"+header.attr("name")+"</b></i></a></li>");
            } else {
                $("ul#links").append("<li style=\"display:inline; margin:5px;\"><a href=\"#\" onclick=\"javascript:showfeature('"+$(this).attr("name")+"');\">"+$(this).attr("name")+"</a></li>");
            }
            if ((i % 5) == 0) {
                $("ul#links").append("<br /"+">");
            }
        });
        $('table').tablesorter();
    });

    function showfeature(name) {
        $('.feature').hide('slow');
        $('.feature[name="'+name+'"]').fadeIn('slow');
    }

    function load_graph(tag) {
        $('div[name="graph_'+tag+'"]').replaceWith('<iframe src="/graph-tag?tag='+escape(tag)+'" width="640" height="480" frameborder="0"></iframe>');
    }
//-->
</script>
<link rel="stylesheet" type="text/css" href="/style/osmstats_style.css" />
</head>
<body>
<div align="center">
<h1 i18n:msg="date">OpenStreetMap Statistics - ${date}</h1>
<h2 i18n:msg="key">Key:${key}</h2>
<py:choose test="split">
  <py:when test="None">
    <small><a href="/stats/${prefix}/${key}">Go back</a></small>
  </py:when>
  <py:otherwise>
    <small><a href="/stats/${prefix}">Go back</a></small>
  </py:otherwise>
</py:choose>
<ul id="links" style="padding: 0px;"></ul>
<br />
<py:def function="showval(value, data)">
<py:with vars='category = value.split("|")[0]'>
<div name="${key}=${category}" class="feature">
<py:choose test='category'>
  <py:when test='value'>
    <a name="${key}=${value}" style="text-decoration:none;" href="http://wiki.openstreetmap.org/wiki/Tag:${key}=${value}"><h4>${key}=${value}</h4></a>
  </py:when>
  <py:otherwise>
    <a name="${category}" class='category'></a><h4><i>${category}</i></h4>
    <h5 i18n:msg="categories">This category includes: ${', '.join(value.split('|')[1].split(';'))}</h5>
  </py:otherwise>
</py:choose>
<!--
<div name='graph_${key}=${value}'><small><a href='#' onclick='javascript:load_graph("${key}=${value}");'>Load graph</a></small></div>
-->
<table class="tablesorter">
<thead>
<tr>
  <th>Position</th>
  <th>&nbsp;</th>
  <th>User</th>
  <th>Total</th>
</tr>
</thead>
<tbody>
<py:for each="pair in data">
<tr>
  <td align="center">${int(data.index(pair)) + 1}</td>
  <py:choose test="">
    <py:when test="pos[value][pair[0]] &lt; 0">
      <td><img src="/img/down.png" /> ${abs(pos[value][pair[0]])}</td>
    </py:when>
    <py:when test="pos[value][pair[0]] &gt; 0">
      <td><img src="/img/up.png" /> ${pos[value][pair[0]]}</td>
    </py:when>
    <py:when test="pos[value][pair[0]] == 0">
      <td><img src="/img/stable.png" /></td>
    </py:when>
  </py:choose>
  <td>
    <a href="http://www.openstreetmap.org/user/${pair[0]}" style="text-decoration:none;">${pair[0]}</a>
    <a href="/user/${prefix}/${pair[0]}"><img src='/img/profile.png' /></a>
  </td>
  <td align="right">${pair[1]}</td>
</tr>
</py:for>
<py:if test="split">
<tfoot>
  <tr>
    <td colspan='4'><a href='/stats/full/${prefix}/${key}/${category}'>&hellip;</a></td>
  </tr>
</tfoot>
</py:if>
</tbody>
</table>
</div>
</py:with>
</py:def>
<py:for each="val in sorted(vals.keys())">
${showval(val, vals[val])}
</py:for>
</div>
<p>
<small i18n:msg="">Data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.</small><br />
<small i18n:msg="">Data last generated on <xi:include href='../html/timestamp.html' /></small>
</p>
</body>
</html>
