<p class="langs"><a href="/lang/en"><abbr title="English">en</abbr></a> <a href="/lang/eo"><abbr title="Esperanto">eo</abbr></a> <a href="/lang/es"><abbr title="Spanish">es</abbr></a> <a href="/lang/it"><abbr title="Italian">it</abbr></a> </p>
