<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="it">
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
<title>Statistiche OSM Italia ${date}</title>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<script>
<!--
    $(document).ready(function() {
        $('.feature').hide();
        $('.feature').each(function(index) {
            $("ul#links").append("<li style=\"display:inline; margin:5px; text-decoration: none;\"><a href=\"#\" onclick=\"javascript:showfeature('"+$(this).attr("name")+"');\">"+$(this).attr("name")+"</a></li>");
        });
        $('table').tablesorter();
    });

    function showfeature(name) {
        $('.feature').hide('slow');
        $('.feature[name="'+name+'"]').fadeIn('slow');
    }
//-->
</script>
<link rel="stylesheet" type="text/css" href="/style/osmstats_style.css" />
</head>
<body>
<div align="center">
<h1>Statistiche OpenStreetMap Italia ${date}</h1>
<small><a href='/'>Go back</a></small>
<ul id="links" style="padding: 0px"></ul>
<ul id="keylinks" style="padding: 0px">
<py:for each="key in tags">
  <py:with vars="index = tags.index(key)">
    <li style="display:inline; margin:5px; text-decoration: none;"><a href="/stats/${prefix}/${key}">${key}</a></li>
    <py:choose test="((index + 1) % 5)">
      <py:when test="0"><br /></py:when>
    </py:choose>
  </py:with>
</py:for>
</ul>
<py:def function='primitive(name, data)'>
<div name="${name}" class="feature">
<a name="${name}"></a><h3>${name}</h3>
<table class="tablesorter">
<thead>
<tr>
  <th>Posizione</th>
  <th>&nbsp;</th>
  <th>Utente</th>
  <th>Totale</th>
</tr>
</thead>
<tbody>
<py:for each="pair in data">
<tr>
  <td align="center">${int(data.index(pair)) + 1}</td>
  <py:choose test="">
    <py:when test="pos[name][pair[0]] &lt; 0">
      <td><img src="/img/down.png" /> ${abs(pos[name][pair[0]])}</td>
    </py:when>
    <py:when test="pos[name][pair[0]] &gt; 0">
      <td><img src="/img/up.png" /> ${pos[name][pair[0]]}</td>
    </py:when>
    <py:when test="pos[name][pair[0]] == 0">
      <td><img src="/img/stable.png" /></td>
    </py:when>
  </py:choose>
  <td>
    <a href="http://www.openstreetmap.org/user/${pair[0]}" style="text-decoration:none;">${pair[0]}</a>
    <a href="/user/${prefix}/${pair[0]}"><img src='/img/profile.png' /></a>
  </td>
  <td align="right">${pair[1]}</td>
</tr>
</py:for>
<py:if test="split">
<tfoot>
  <tr>
    <td colspan='4'><a href='/stats/full/${prefix}/${name.lower()}'>&hellip;</a></td>
  </tr>
</tfoot>
</py:if>
</tbody>
</table>
</div>
</py:def>
${primitive('Nodes', nodes)}
${primitive('Ways', ways)}
${primitive('Relations', relations)}
</div>
<p><small>Data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.</small></p>
</body>
</html>
