<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="it">
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
<title>Statistiche OSM Italia ${date}</title>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.tablesorter.min.js"></script>
<script>
<!--
    $(document).ready(function() {
        $('.primitive').hide();
        $('.feature').hide();
        $('.linked').hide();
        $('.linked').each(function(index) {
            if ($(this).hasClass("primitive")) {
                $("ul#links").append("<li style=\"display:inline; margin:5px;\"><a href=\"#\" onclick=\"javascript:showprimitive('"+$(this).attr("name")+"');\">"+$(this).attr("name")+"</a></li>");
            } else {
                $("ul#links").append("<li style=\"display:inline; margin:5px;\"><a href=\"#\" onclick=\"javascript:showtaglist('"+$(this).attr("name")+"');\">"+$(this).attr("name")+"</a></li>");
            }
        });
        $('table').tablesorter();
    });

    function showprimitive(name) {
        $('#tagshow').fadeOut('slow', function(){
            $('.primitive').fadeOut('slow');
            $('div[name="'+name+'"]').fadeIn('slow');
        });
    }

    function showtaglist(tag) {
        var i = 0;
        $('.linked').fadeOut('slow');
        $("ul#tagshow").fadeOut('slow', function() {
            $("ul#tagshow").replaceWith('<ul id="tagshow"></ul>');
            $("div[name='"+tag+"']").children("div").children("a").each(function(index) {
                i += 1;
                $("ul#tagshow").append("<li style=\"display:inline; margin:5px;\"><a href=\"#\" onclick=\"javascript:showtag('"+$(this).attr("name")+"');\">"+$(this).attr("name")+"</a></li>");
                if ((i % 5) == 0) {
                    $("ul#tagshow").append("<br /"+">");
                }
            });
            $("ul#tagshow").fadeIn('slow');
        });
    }

    function showtag(tag) {
        $('.linked').hide();
        $('.feature').hide();
        $('a[name="'+tag+'"]').parents('.linked').fadeIn('slow', function() {
            $('a[name="'+tag+'"]').parent('.feature').show();
        });
    }
//-->
</script>
<link rel="stylesheet" type="text/css" href="osmstats_style.css" />
</head>
<body>
<div align="center">
<a name="top"><h1>Statistiche OpenStreetMap Italia ${date}</h1></a>
<ul id="links" style="display: inline;"></ul>
<ul id="tagshow"></ul>
<!--<h2>Numero di primitive</h2>-->
<div py:def="feature(name, data)" name="${name}" class="linked primitive">
<a name="${name}"></a><h3>${name} <small><a href="#top">&uarr;</a></small></h3>
<table class="tablesorter">
<thead>
<tr>
  <th>Posizione</th>
  <th>Utente</th>
  <th>Totale</th>
</tr>
</thead>
<tbody>
<py:for each="count, pair in data">
<tr>
  <td>${count + 1}</td>
  <td>${pair[0]}</td>
  <td>${pair[1]}</td>
</tr>
</py:for>
</tbody>
</table>
</div>
<div py:def="key(key, value, data)" class="feature">
<py:choose test="type(value)">
  <py:when test="tuple">
    <py:with vars="value=';'.join(value)">
      <a name="${key}=${value}"></a><h4>${key}=${value} <small><a href="#top">&uarr;</a></small></h4>
    </py:with>
  </py:when>
  <py:otherwise>
    <a name="${key}=${value}"></a><h4>${key}=${value} <small><a href="#top">&uarr;</a></small></h4>
  </py:otherwise>
</py:choose>
<table class="tablesorter">
<thead>
<tr>
  <th>Posizione</th>
  <th>Utente</th>
  <th>Totale</th>
</tr>
</thead>
<tbody>
<py:for each="count, pair in data">
<tr>
  <td>${count + 1}</td>
  <td>${pair[0]}</td>
  <td>${pair[1]}</td>
</tr>
</py:for>
</tbody>
</table>
</div>
${feature('Nodi', nodes)}
${feature('Ways', ways)}
${feature('Relazioni', relations)}
<!--<h2>Statistiche per Tag</h2>-->
<py:for each="tag in sorted(tags.keys())">
  <div name="${tag}" class="linked">
  <a name="${tag}"></a><h3>${tag} <small><a href="#top">&uarr;</a></small></h3>
  <py:for each="val in sorted(tags[tag].keys())">
  ${key(tag, val, tags[tag][val])}
  </py:for>
  </div>
</py:for>
</div>
</body>
</html>
