<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
>
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
<title i18n:msg="date">OpenStreetMap Statistics - ${date}</title>
<script src="/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" type="text/css" href="/style/osmstats_style.css" />
<link rel="stylesheet" type="text/css" href="/style/osmstats_common.css" />
</head>
<body>
<xi:include href='l10n.tmpl' />
<div align="center">
<h1 i18n:msg="date">OpenStreetMap Statistics - ${date}</h1>
<small><a href='javascript:history.go(-1);'>Go back</a></small>
<py:with vars='key = name.split("=")[0]'>
<py:choose test='key'>
  <py:when test='name'>
    <h3>${name}</h3>
  </py:when>
  <py:otherwise>
    <py:with vars='category = name.split("|")[0]'>
      <py:choose test='category'>
        <py:when test='name'>
          <a style="text-decoration:none;" href="http://wiki.openstreetmap.org/wiki/Tag:${key}=${name.split('=')[1]}"><h3>${category}</h3></a>
        </py:when>
        <py:otherwise>
          <h3><i>${category.split('=')[1]}</i></h3>
          <h4 i18n:msg="categories">This category includes: ${', '.join(name.split('=')[1].split('|')[1].split(';'))}</h4>
        </py:otherwise>
      </py:choose>
    </py:with>
  </py:otherwise>
</py:choose>
</py:with>
<table class="tablesorter">
<thead>
<tr>
  <th>Position</th>
  <th>&nbsp;</th>
  <th>User</th>
  <th>Total</th>
</tr>
</thead>
<tbody>
<py:for each="pair in stats">
<tr>
  <td align="center">${int(stats.index(pair)) + 1}</td>
  <py:choose test="">
    <py:when test="pos[pair[0]] &lt; 0">
      <td><img src="/img/down.png" /> ${abs(pos[pair[0]])}</td>
    </py:when>
    <py:when test="pos[pair[0]] &gt; 0">
      <td><img src="/img/up.png" /> ${pos[pair[0]]}</td>
    </py:when>
    <py:when test="pos[pair[0]] == 0">
      <td><img src="/img/stable.png" /></td>
    </py:when>
  </py:choose>
  <td>
    <a href="http://www.openstreetmap.org/user/${pair[0]}" style="text-decoration:none;">${pair[0]}</a>
    <a href="/user/${prefix}/${pair[0]}"><img src='/img/profile.png' /></a>
  </td>
  <td align="right">${pair[1]}</td>
</tr>
</py:for>
</tbody>
</table>
</div>
<p>
<small i18n:msg="">Data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.</small><br />
<small i18n:msg="">Data last generated on <xi:include href='../html/timestamp.html' /></small><br />
<small i18n:msg="">This is OSMStats, version <xi:include href='../html/version.html' /></small>
</p>
</body>
</html>
