<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
>
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
<title>OSM statistics graph generator</title>
<script src="/js/jquery.min.js"></script>
<script src="/js/filterlist.js"></script>
<link rel="stylesheet" type="text/css" href="/style/osmstats_style.css" />
<link rel="stylesheet" type="text/css" href="/style/osmstats_common.css" />
<style>
    div#sidebar {
        width: 30%;
        float: left;
    }
    option.tagtag{
        background-color: #cc0000; font-weight: bold; font-size: 12px; color: white;
    }
    div#graph {
        margin-left: 1em;
    }
    div#graph iframe {
        border: none;
    }
    select {
        max-width: 10em;
    }

</style>
</head>
<body>
<xi:include href='l10n.tmpl' />
<h1>Dynamic graph generator</h1>
<div id="content">
<div id="sidebar">
  <form id="graph_tag_user" method="get" action="/graph-tag-user">
  <input type='hidden' name='prefix' value='${prefix}' />
  <fieldset>
    <legend>Single tag, multiple users</legend>
    <label for="tags">Tag:</label>
    <select name="tag" id="tags" width='100%' required='required'>
      <option value="" selected="selected">--- Select tag ---</option>
      <py:for each="key in sorted(tags.keys())">
      <optgroup label='${key}'>
        <py:for each="val in sorted(tags[key])">
          <py:choose test="">
            <py:when test="'|' in val">
              <option value="${key}=${val}" class="tagtag">${val.split('|')[0]}</option>
            </py:when>
            <py:otherwise>
              <option value="${key}=${val}">${key}=${val}</option>
            </py:otherwise>
          </py:choose>
        </py:for>
      </optgroup>
      </py:for>
    </select>
    <br />
    <label for="users" style="vertical-align:top;">Users:</label>
    <select name="user" id="users" multiple="multiple" size="5" required='required'>
    </select>
    <br />
    <input type="Submit" value="Graph!" />
  </fieldset>
  </form>
  <form id="graph_tag" method="get" action="/graph-tag">
  <input type='hidden' name='prefix' value='${prefix}' />
  <fieldset>
    <legend>Graph tags</legend>
    <label for="tag3" style="vertical-align:top;">Tags:</label>
    <select name="tag" multiple="multiple" size="5" width="100" required='required'>
      <py:for each="key in sorted(tags.keys())">
      <optgroup label='${key}'>
        <py:for each="val in sorted(tags[key])">
          <py:choose test="">
            <py:when test="'|' in val">
              <option value="${key}=${val}" class="tagtag">${val.split('|')[0]}</option>
            </py:when>
            <py:otherwise>
              <option value="${key}=${val}">${key}=${val}</option>
            </py:otherwise>
          </py:choose>
        </py:for>
      </optgroup>
      </py:for>
    </select>
    <br />
    <input type="Submit" value="Graph!" />
  </fieldset>
  </form>
  <form name="graph_primitive" id="graph_primitive" method="get" action="#">
  <input type='hidden' name='prefix' value='${prefix}' />
  <fieldset>
    <legend>Graph elements</legend>
    <input name="what" value="nodes" type="radio" required='required'>Nodes</input>
    <input name="what" value="ways" type="radio" required='required'>Ways</input>
    <input name="what" value="relations" type="radio" required='required'>Relations</input>
    <br />
    <label for="users" style="vertical-align:top;">Users:</label>
    <select name="user" id="users" multiple="multiple" size="5">
    <py:for each="user in sorted(users)">
      <option value="${user}">${user}</option>
    </py:for>
    </select>
    <span id="filtertext" style="vertical-align:top;">&nbsp;</span>
    <br />
    <input name="regexp" onKeyUp="javascript:user_primitive_filter.set(this.form.regexp.value)" placeholder="Filter user list" type="search" />
    <br />
    <input type="Submit" value="Graph!" />
  </fieldset>
  </form>
  <br />
<p>
<small i18n:msg="">Data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.</small>
<xi:include href='../html/footer.html' />
</p>
</div>
  <div id="graph">
  </div>
</div>
<script>
<!--
    user_primitive_filter = new filterlist(document.graph_primitive.users);
    user_primitive_filter.hook = function() {
        text = $('form#graph_primitive').find('#filtertext');
        if (this.selectobj.length == this.optionscopy.length) {
            text.text('');
        } else {
            text.text(this.selectobj.length + '/' + this.optionscopy.length);
        }
    };

    $(document).ready(function() {
        $('#graph_tag_user').submit(function(x) {
            x.preventDefault();
            //alert($(this).serialize());
            //$('div#graph').html('<img src="/graph?'+$(this).serialize()+'" /'+'>');
            prefix = $(this).find('input[name=prefix]').val();
            $('div#graph').html('<iframe src="/graph-tag-user/'+prefix+'?'+$(this).serialize()+'" width="640" height="480"></iframe>');
            $('div#graph').fadeIn('slow');
        });

        $('#graph_tag').submit(function(x) {
            x.preventDefault();
            prefix = $(this).find('input[name=prefix]').val();
            $('div#graph').html('<iframe src="/graph-tag/'+prefix+'?'+$(this).serialize()+'" width="640" height="480"></iframe>');
            $('div#graph').fadeIn('slow');
        });

        $('#graph_primitive').submit(function(x) {
            x.preventDefault();
            val = $(this).find('input:radio[name=what]:checked').val();
            if (val != undefined) {
                prefix = $(this).find('input[name=prefix]').val();
                $('div#graph').html('<iframe src="/graph-'+val+'/'+prefix+'?'+$(this).serialize()+'" width="640" height="480"></iframe>');
                $('div#graph').fadeIn('slow');
            }
        });

        $('select#tags').change(function() {
            $('div#graph').fadeOut('slow');
            var value = $(this).val();
            prefix = $(this).parent().parent().find('input[name=prefix]').val();
            users = $(this).parent().find('select#users');
            $.getJSON('/get/users/'+prefix+'/'+value, null, function(j) {
                var opts = '';
                var names = j.r;

                for (var i=0; i < names.length; i++) {
                    opts += '<option value="'+names[i]+'">'+names[i]+'</option>';
                }

                users.html(opts);
            });
        });
    });
//-->
</script>
</body>
</html>
