<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
>
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
<title>OSM statistics graph generator</title>
<script src="/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/style/osmstats_style.css" />
<link rel="stylesheet" type="text/css" href="/style/osmstats_common.css" />
<style>
    div#sidebar {
        width: 30%;
        float: left;
    }
    option.tagtag{
        background-color: #cc0000; font-weight: bold; font-size: 12px; color: white;
    }
    div#graph {
        margin-left: 1em;
    }
    div#graph iframe {
        border: none;
    }
    select {
        max-width: 10em;
    }

</style>
</head>
<body>
<xi:include href='l10n.tmpl' />
<div id="content">
<div id="sidebar">
  <h1>Dynamic graph generator</h1>
  <form id="form" action="/graph-tag-user" method="get">
    <table>
      <tr>
      <td>
      <label for="tag">Tags:</label><br />
      <select name="tag" id="tag1">
        <option value="" selected="selected">--- Select tag ---</option>
        <py:for each="tag in tags">
          <py:choose test="">
            <py:when test="'|' in tag">
              <option value="${tag}" class="tagtag">${tag.split('|')[0]}</option>
            </py:when>
            <py:otherwise>
              <option value="${tag}">${tag}</option>
            </py:otherwise>
          </py:choose>
        </py:for>
      </select>
      <br />
      <label for="user">Users:</label><br />
      <select name="user" id="user1" multiple="multiple" size="5">
      </select>
      </td>
      <td>
      <label>Users:<br />
      <select name="user" id="user2">
        <option value="" selected="selected">--- Select user ---</option>
        <py:for each="user in users">
          <option value="${user}">${user}</option>
        </py:for>
      </select>
      </label>
      <br />
      <label>Tags:<br />
      <select name="searchtag" id="tag2">
      <option value="" selected="selected">--- Select tag ---</option>
      </select>
      </label>
      </td>
      </tr>
    </table>
    <br />
    <input type="Submit" value="Graph!" />
  </form>
  <br />
  <form id="form2" action="/graph-tag" method="get">
    <select name="tag" id="tag3" multiple="multiple" size="5">
      <option value="" selected="selected">--- Select tag ---</option>
      <py:for each="tag in tags">
        <py:choose test="">
          <py:when test="'|' in tag">
            <option value="${tag}" class="tagtag">${tag.split('|')[0]}</option>
          </py:when>
          <py:otherwise>
            <option value="${tag}">${tag}</option>
          </py:otherwise>
        </py:choose>
      </py:for>
    </select>
    <br />
    <input type="Submit" value="Graph!" />
  </form>
  <br />
<p><small i18n:msg="">Data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.</small></p>
</div>
  <div id="graph">
  </div>
</div>
<script>
<!--
    var query = "";

    $(document).ready(function() {
        $('#form').submit(function(x) {
            x.preventDefault();
            //alert($(this).serialize());
            //$('div#graph').html('<img src="/graph?'+$(this).serialize()+'" /'+'>');
            $('div#graph').html('<iframe src="/graph-tag-user?'+$(this).serialize()+'" width="640" height="480"></iframe>');
            $('div#graph').fadeIn('slow');
        });

        $('#form2').submit(function(x) {
            x.preventDefault();
            $('div#graph').html('<iframe src="/graph-tag?'+$(this).serialize()+'" width="640" height="480"></iframe>');
            $('div#graph').fadeIn('slow');
        });

        $('select#user2').change(function() {
            $('div#graph').fadeOut('slow');
            var value = $(this).val();
            $.getJSON('/get/tags/'+value, null, function(j) {
                var opts = '<'+'option value="" selected="selected">';
                opts += '-'+'-'+'- Select tag -'+'-'+'-';
                opts += '</'+'option>';
                var tags = j.r;

                for (var i=0; i < tags.length; i++) {
                    if (tags[i].indexOf('|') != -1) {
                      opts += '<option value="'+tags[i]+'" class="tagtag">';
                      opts += tags[i].split('|')[0]+'</option>';
                    }
                    else {
                      opts += '<option value="'+tags[i]+'">'+tags[i]+'</option>';
                    }
                }

                $('select[name=searchtag]').html(opts);
            });
        });

        $('select#tag2').change(function() {
            var value = $(this).val();
            $('select#tag1').val(value);
            $('select#tag1').change();
        });

        $('select#tag1').change(function() {
            $('div#graph').fadeOut('slow');
            var value = $(this).val();
            $.getJSON('/get/users/'+value, null, function(j) {
                var opts = '';
                var names = j.r;

                for (var i=0; i < names.length; i++) {
                    opts += '<option value="'+names[i]+'">'+names[i]+'</option>';
                }

                $('select#user1').html(opts);
            });
        });
    });
//-->
</script>

</body>
</html>
